.subContent[data-v-4913a4] {
  width: 100%;
  height: 100%;
}

.subContent .title[data-v-4913a4] {
  border-bottom: 1px dashed gray;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 0 15px;
  display: flex;
}

.subContent .container[data-v-4913a4] {
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 !important;
}

.subContent .container .list-item[data-v-4913a4] {
  border-bottom: 1px solid gray;
}

.subContent .container .list-item .md-list-item-text[data-v-4913a4] {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
}

.subContent .container .list-item.selected[data-v-4913a4] {
  background-color: #448aff;
}

.selection_container[data-v-be9878] {
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
}

.selection_container .section[data-v-be9878] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  width: 33%;
  padding: 15px;
}

.selection_container .middle[data-v-be9878] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  width: 49%;
  padding: 15px;
}

.result_container[data-v-4e3681] {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.result_container .title[data-v-4e3681] {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40%;
  padding: 5px;
  font-size: 1em;
  overflow: hidden;
}

.result_container .content[data-v-4e3681] {
  justify-content: space-between;
  align-items: center;
  width: 45%;
  display: flex;
}

.result_container .content .textDiv[data-v-4e3681] {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  margin-right: 5px;
  font-size: 1.2em;
  display: flex;
}

.result_container .content .textDiv .name[data-v-4e3681] {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

.result_container .content .textDiv.invalids[data-v-4e3681] {
  color: #ff5252;
}

.result_container .content .textDiv.valids[data-v-4e3681] {
  color: #448aff;
}

.mdDialogContainer[data-v-e284e2] {
  width: 60%;
  height: 600px;
}

.mdDialogContainer .dialogTitle[data-v-e284e2] {
  text-align: center;
}

.mdDialogContainer .content[data-v-e284e2] {
  padding: 0 10px 24px 24px;
}

.mdDialogContainer .content .state[data-v-e284e2] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.mdDialogContainer .content .progress-bar[data-v-e284e2] {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.mdDialogContainer .content .progress-bar .percent-number[data-v-e284e2] {
  margin-bottom: 10px;
  font-size: 1.8em;
}

.mdDialogContainer .content .progress-bar .percent-bar[data-v-e284e2] {
  width: 90%;
}

.mdDialogContainer .content .results[data-v-e284e2] {
  width: 100%;
  height: 100%;
}

.mdDialogContainer .content .results .result-component[data-v-e284e2] {
  border: 1px solid gray;
  width: 100%;
  height: 70px;
  margin: 5px 0;
}

.mdDialogContainer .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.mdDialogContainer[data-v-3b500b] {
  width: 500px;
  height: 500px;
}

.mdDialogContainer .md-dialog-container[data-v-3b500b] {
  max-width: 100%;
  max-height: 100%;
}

.content[data-v-3b500b] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  display: flex;
}

.link_container[data-v-ffbf85] {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
}

.link_container .links[data-v-ffbf85], .link_container .items[data-v-ffbf85] {
  width: 100%;
  height: 49%;
}

.link_container .links[data-v-ffbf85] {
  border: 1px solid gray;
  overflow-y: auto;
}

.link_container .links .title[data-v-ffbf85] {
  border-bottom: 1px solid gray;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: auto;
  display: flex;
}

.link_container .links .content[data-v-ffbf85] {
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
}

.link_container .links .content .linkedTemplate[data-v-ffbf85] {
  background: #686464;
  width: 98%;
  height: 50px;
  margin: 10px auto 5px;
  display: flex;
}

.link_container .links .content .linkedTemplate .itemsLinked[data-v-ffbf85] {
  text-align: center;
  align-items: center;
  width: calc(50% - 30px);
  height: 100%;
  display: flex;
}

.link_container .links .content .linkedTemplate .itemsLinked span[data-v-ffbf85] {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 95%;
  padding-left: 10px;
  font-size: 16px;
  overflow: hidden;
}

.link_container .links .content .linkedTemplate .unlinkButton[data-v-ffbf85] {
  width: 50px;
  height: 100%;
}

.link_container .links .content .linkedTemplate .unlinkButton .unlink[data-v-ffbf85] {
  box-shadow: unset;
  width: 100%;
  height: 100%;
  margin: 0;
}

.link_container .items[data-v-ffbf85] {
  display: flex;
}

.link_container .items .physical_automates[data-v-ffbf85], .link_container .items .virtual_automates[data-v-ffbf85] {
  border: 1px solid gray;
  width: calc(50% - 30px);
  height: 100%;
}

.link_container .items .linkButton[data-v-ffbf85] {
  align-items: center;
  width: 60px;
  height: 100%;
  display: flex;
}

.link_container .items .physical_automates .title[data-v-ffbf85], .link_container .items .virtual_automates .title[data-v-ffbf85] {
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  display: flex;
}

.link_container .items .physical_automates .lists[data-v-ffbf85], .link_container .items .virtual_automates .lists[data-v-ffbf85] {
  width: 100%;
  height: calc(100% - 50px);
}

.link_container .items .physical_automates .lists .list[data-v-ffbf85], .link_container .items .virtual_automates .lists .list[data-v-ffbf85] {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.link_container .items .physical_automates .lists .list .listItem[data-v-ffbf85], .link_container .items .virtual_automates .lists .list .listItem[data-v-ffbf85] {
  text-align: left;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
}

.link_container .items .physical_automates .lists .list .listItem[data-v-ffbf85]:hover, .link_container .items .virtual_automates .lists .list .listItem[data-v-ffbf85]:hover {
  background: gray;
}

.link_container .items .allItemsLinked[data-v-ffbf85] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 50px);
  font-size: 1.5em;
  display: flex;
}

.link_container .items .physical_automates .lists .md-radio, .link_container .items .virtual_automates .lists .md-radio {
  width: 100%;
  margin: 0;
  padding: 0;
}

.link_container .items .physical_automates .lists .md-radio .md-radio-label, .link_container .items .virtual_automates .lists .md-radio .md-radio-label {
  text-overflow: ellipsis;
  width: calc(100% - 40px);
  overflow: hidden;
}

.linkerDialogsContent[data-v-4eecf3] {
  width: 100%;
  height: 100%;
}

.centered[data-v-4eecf3] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.linkerDialogsContent .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.editorContainer {
  width: 100%;
  height: 100%;
}

.CodeMirror-focused .cm-matchhighlight {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==");
  background-position: bottom;
  background-repeat: repeat-x;
}

.cm-matchhighlight {
  background-color: #90ee90;
}

.CodeMirror-selection-highlight-scrollbar {
  background-color: green;
}

.CodeMirror {
  color: #000;
  direction: ltr;
  height: 300px;
  font-family: monospace;
}

.CodeMirror-lines {
  padding: 4px 0;
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px;
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: #0000;
}

.CodeMirror-gutters {
  white-space: nowrap;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
}

.CodeMirror-linenumber {
  text-align: right;
  color: #999;
  white-space: nowrap;
  min-width: 20px;
  padding: 0 3px 0 5px;
}

.CodeMirror-guttermarker {
  color: #000;
}

.CodeMirror-guttermarker-subtle {
  color: #999;
}

.CodeMirror-cursor {
  border-left: 1px solid #000;
  border-right: none;
  width: 0;
}

.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}

.cm-fat-cursor .CodeMirror-cursor {
  background: #7e7;
  width: auto;
  border: 0 !important;
}

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-fat-cursor-mark {
  background-color: #14ff1480;
  animation: 1.06s step-end infinite blink;
}

.cm-animate-fat-cursor {
  background-color: #7e7;
  border: 0;
  width: auto;
  animation: 1.06s step-end infinite blink;
}

@keyframes blink {
  0% {
  }

  50% {
    background-color: #0000;
  }

  100% {
  }
}

.cm-tab {
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
  display: inline-block;
}

.CodeMirror-rulers {
  position: absolute;
  inset: -50px 0 0;
  overflow: hidden;
}

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
}

.cm-s-default .cm-header {
  color: #00f;
}

.cm-s-default .cm-quote {
  color: #090;
}

.cm-negative {
  color: #d44;
}

.cm-positive {
  color: #292;
}

.cm-header, .cm-strong {
  font-weight: bold;
}

.cm-em {
  font-style: italic;
}

.cm-link {
  text-decoration: underline;
}

.cm-strikethrough {
  text-decoration: line-through;
}

.cm-s-default .cm-keyword {
  color: #708;
}

.cm-s-default .cm-atom {
  color: #219;
}

.cm-s-default .cm-number {
  color: #164;
}

.cm-s-default .cm-def {
  color: #00f;
}

.cm-s-default .cm-variable-2 {
  color: #05a;
}

.cm-s-default .cm-variable-3, .cm-s-default .cm-type {
  color: #085;
}

.cm-s-default .cm-comment {
  color: #a50;
}

.cm-s-default .cm-string {
  color: #a11;
}

.cm-s-default .cm-string-2 {
  color: #f50;
}

.cm-s-default .cm-meta, .cm-s-default .cm-qualifier {
  color: #555;
}

.cm-s-default .cm-builtin {
  color: #30a;
}

.cm-s-default .cm-bracket {
  color: #997;
}

.cm-s-default .cm-tag {
  color: #170;
}

.cm-s-default .cm-attribute {
  color: #00c;
}

.cm-s-default .cm-hr {
  color: #999;
}

.cm-s-default .cm-link {
  color: #00c;
}

.cm-s-default .cm-error, .cm-invalidchar {
  color: red;
}

.CodeMirror-composing {
  border-bottom: 2px solid;
}

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22;
}

.CodeMirror-matchingtag {
  background: #ff96004d;
}

.CodeMirror-activeline-background {
  background: #e8f2ff;
}

.CodeMirror {
  background: #fff;
  position: relative;
  overflow: hidden;
}

.CodeMirror-scroll {
  outline: none;
  height: 100%;
  margin-bottom: -50px;
  margin-right: -50px;
  padding-bottom: 50px;
  position: relative;
  overflow: scroll !important;
}

.CodeMirror-sizer {
  border-right: 50px solid #0000;
  position: relative;
}

.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  z-index: 6;
  outline: none;
  display: none;
  position: absolute;
}

.CodeMirror-vscrollbar {
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.CodeMirror-scrollbar-filler {
  bottom: 0;
  right: 0;
}

.CodeMirror-gutter-filler {
  bottom: 0;
  left: 0;
}

.CodeMirror-gutters {
  z-index: 3;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.CodeMirror-gutter {
  white-space: normal;
  vertical-align: top;
  height: 100%;
  margin-bottom: -50px;
  display: inline-block;
}

.CodeMirror-gutter-wrapper {
  z-index: 4;
  position: absolute;
  background: none !important;
  border: none !important;
}

.CodeMirror-gutter-background {
  z-index: 4;
  position: absolute;
  top: 0;
  bottom: 0;
}

.CodeMirror-gutter-elt {
  cursor: default;
  z-index: 4;
  position: absolute;
}

.CodeMirror-gutter-wrapper ::selection {
  background-color: #0000;
}

.CodeMirror-gutter-wrapper ::selection {
  background-color: #0000;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
  font-family: inherit;
  font-size: inherit;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
  background: none;
  border-width: 0;
  border-radius: 0;
  margin: 0;
  position: relative;
  overflow: visible;
}

.CodeMirror-wrap pre.CodeMirror-line, .CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  z-index: 0;
  position: absolute;
  inset: 0;
}

.CodeMirror-linewidget {
  z-index: 2;
  padding: .1px;
  position: relative;
}

.CodeMirror-rtl pre {
  direction: rtl;
}

.CodeMirror-code {
  outline: none;
}

.CodeMirror-scroll, .CodeMirror-sizer, .CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber {
  box-sizing: content-box;
}

.CodeMirror-measure {
  visibility: hidden;
  width: 100%;
  height: 0;
  position: absolute;
  overflow: hidden;
}

.CodeMirror-cursor {
  pointer-events: none;
  position: absolute;
}

.CodeMirror-measure pre {
  position: static;
}

div.CodeMirror-cursors {
  visibility: hidden;
  z-index: 3;
  position: relative;
}

div.CodeMirror-dragcursors, .CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0;
}

.CodeMirror-crosshair {
  cursor: crosshair;
}

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: #d7d4f0;
}

.CodeMirror-line::-moz-selection {
  background: #d7d4f0;
}

.CodeMirror-line > span::-moz-selection {
  background: #d7d4f0;
}

.CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0;
}

.cm-searching {
  background-color: #ff06;
}

.cm-force-border {
  padding-right: .1px;
}

@media print {
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

.cm-tab-wrap-hack:after {
  content: "";
}

span.CodeMirror-selectedtext {
  background: none;
}

.cm-s-monokai.CodeMirror {
  color: #f8f8f2;
  background: #272822;
}

.cm-s-monokai div.CodeMirror-selected {
  background: #49483e;
}

.cm-s-monokai .CodeMirror-line::selection, .cm-s-monokai .CodeMirror-line > span::selection, .cm-s-monokai .CodeMirror-line > span > span::selection {
  background: #49483efc;
}

.cm-s-monokai .CodeMirror-line::-moz-selection {
  background: #49483efc;
}

.cm-s-monokai .CodeMirror-line > span::-moz-selection {
  background: #49483efc;
}

.cm-s-monokai .CodeMirror-line > span > span::-moz-selection {
  background: #49483efc;
}

.cm-s-monokai .CodeMirror-gutters {
  background: #272822;
  border-right: 0;
}

.cm-s-monokai .CodeMirror-guttermarker {
  color: #fff;
}

.cm-s-monokai .CodeMirror-guttermarker-subtle, .cm-s-monokai .CodeMirror-linenumber {
  color: #d0d0d0;
}

.cm-s-monokai .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0;
}

.cm-s-monokai span.cm-comment {
  color: #75715e;
}

.cm-s-monokai span.cm-atom, .cm-s-monokai span.cm-number {
  color: #ae81ff;
}

.cm-s-monokai span.cm-comment.cm-attribute {
  color: #97b757;
}

.cm-s-monokai span.cm-comment.cm-def {
  color: #bc9262;
}

.cm-s-monokai span.cm-comment.cm-tag {
  color: #bc6283;
}

.cm-s-monokai span.cm-comment.cm-type {
  color: #5998a6;
}

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {
  color: #a6e22e;
}

.cm-s-monokai span.cm-keyword {
  color: #f92672;
}

.cm-s-monokai span.cm-builtin {
  color: #66d9ef;
}

.cm-s-monokai span.cm-string {
  color: #e6db74;
}

.cm-s-monokai span.cm-variable {
  color: #f8f8f2;
}

.cm-s-monokai span.cm-variable-2 {
  color: #9effff;
}

.cm-s-monokai span.cm-variable-3, .cm-s-monokai span.cm-type {
  color: #66d9ef;
}

.cm-s-monokai span.cm-def {
  color: #fd971f;
}

.cm-s-monokai span.cm-bracket {
  color: #f8f8f2;
}

.cm-s-monokai span.cm-tag {
  color: #f92672;
}

.cm-s-monokai span.cm-header, .cm-s-monokai span.cm-link {
  color: #ae81ff;
}

.cm-s-monokai span.cm-error {
  color: #f8f8f0;
  background: #f92672;
}

.cm-s-monokai .CodeMirror-activeline-background {
  background: #373831;
}

.cm-s-monokai .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: #fff !important;
}

.CodeMirror-hints {
  z-index: 10;
  background: #fff;
  border: 1px solid silver;
  border-radius: 3px;
  max-height: 20em;
  margin: 0;
  padding: 2px;
  font-family: monospace;
  font-size: 90%;
  list-style: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 2px 3px 5px #0003;
}

.CodeMirror-hint {
  white-space: pre;
  color: #000;
  cursor: pointer;
  border-radius: 2px;
  margin: 0;
  padding: 0 4px;
}

li.CodeMirror-hint-active {
  color: #fff;
  background: #08f;
}

.CodeMirror-dialog {
  background: inherit;
  z-index: 15;
  color: inherit;
  padding: .1em .8em;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
}

.CodeMirror-dialog-top {
  border-bottom: 1px solid #eee;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  color: inherit;
  background: none;
  border: none;
  outline: none;
  width: 20em;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}

.CodeMirror-foldmarker {
  color: #00f;
  text-shadow: 1px 1px 2px #b9f, -1px -1px 2px #b9f, 1px -1px 2px #b9f, -1px 1px 2px #b9f;
  cursor: pointer;
  font-family: arial;
  line-height: .3;
}

.CodeMirror-foldgutter {
  width: .7em;
}

.CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded {
  cursor: pointer;
}

.CodeMirror-foldgutter-open:after {
  content: "▾";
}

.CodeMirror-foldgutter-folded:after {
  content: "▸";
}

.personalizedDialog[data-v-c4601c] {
  width: 1000px;
  height: 500px;
}

.personalizedDialog .personalizedDialogTitle[data-v-c4601c] {
  text-align: center;
}

.personalizedDialog .personalizedDialogContent[data-v-c4601c] {
  width: 100%;
  height: 100%;
}

.personalizedDialog .personalizedDialogContent .radios[data-v-c4601c] {
  width: 100%;
  height: 50px;
  display: flex;
}

.personalizedDialog .personalizedDialogContent ._content[data-v-c4601c] {
  width: 100%;
  height: calc(100% - 50px);
}

.personalizedDialog .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.personalizedDialog[data-v-b4b423] {
  width: 1000px;
  height: 500px;
}

.personalizedDialog .personalizedDialogTitle[data-v-b4b423] {
  text-align: center;
}

.personalizedDialog .personalizedDialogContent[data-v-b4b423] {
  width: 100%;
  height: 100%;
}

.personalizedDialog .personalizedDialogContent ._content[data-v-b4b423] {
  width: 100%;
  height: calc(100% - 50px);
}

.personalizedDialog .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.linkerDialogsContent[data-v-555609] {
  width: 100%;
  height: 100%;
}

.config_content[data-v-079095] {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
}

.config_content .useThese[data-v-079095] {
  align-items: center;
  width: 100%;
  height: 9%;
  font-size: 1.3em;
  display: flex;
}

.config_content ._container[data-v-079095] {
  justify-content: space-between;
  width: 100%;
  height: 90%;
  display: flex;
}

.config_content ._container .subcontent[data-v-079095] {
  border: 1px solid #fff;
  border-radius: 5%;
  width: 49%;
  height: 100%;
}

.config_content ._container .subcontent .title[data-v-079095] {
  border-bottom: 1px solid #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  display: flex;
}

.config_content ._container .subcontent .content[data-v-079095] {
  height: calc(100% - 50px);
  padding: 0 7px;
}

.config_content ._container .subcontent .content .div_select[data-v-079095] {
  width: 100%;
  height: 50px;
}

.config_content ._container .subcontent .content .div_code[data-v-079095] {
  width: 100%;
  height: calc(100% - 60px);
}

.config_content ._container .subcontent .content .div_code .checkbox_div[data-v-079095] {
  width: 100%;
  height: 50px;
}

.config_content ._container .subcontent .content .div_code .text_editor[data-v-079095] {
  width: 100%;
  height: calc(100% - 50px);
}

.config_content ._container .subcontent .content .div_code .text_editor .CodeMirror.cm-s-monokai.CodeMirror-wrap {
  width: 100%;
  height: 98%;
}

.mdDialogContainer[data-v-60f96f] {
  width: 60%;
  height: 600px;
}

.mdDialogContainer .dialogTitle[data-v-60f96f] {
  text-align: center;
}

.mdDialogContainer .content[data-v-60f96f] {
  padding: 0 10px 24px 24px;
}

.mdDialogContainer .content .state[data-v-60f96f] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.mdDialogContainer .content .progress-bar[data-v-60f96f] {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.mdDialogContainer .content .progress-bar .percent-number[data-v-60f96f] {
  margin: 10px 0;
  font-size: 1.8em;
}

.mdDialogContainer .content .progress-bar .percent-bar[data-v-60f96f] {
  width: 90%;
}

.mdDialogContainer .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

._container[data-v-fb7293] {
  width: 100%;
  height: 100%;
  padding: 0;
}

._container .content[data-v-fb7293] {
  width: 100%;
  height: 100%;
}

._container .content .radios .md-list-item-content > .md-checkbox:first-child, ._container .content .md-list-item-content > .md-radio:first-child {
  width: 100%;
  margin-right: 0;
}

._container .content .radios .md-list-item-content > .md-checkbox:first-child, ._container .content .md-list-item-content > .md-radio .md-radio-label {
  text-overflow: ellipsis;
  width: calc(100% - 60px);
  overflow: hidden;
}

.content[data-v-b8d3b7] {
  width: 100%;
  height: 100%;
}

.content .buttons[data-v-b8d3b7] {
  justify-content: center;
  width: 100%;
  display: flex;
}

.content .buttons .content-items[data-v-b8d3b7] {
  width: 100%;
  height: 100%;
}

.content .buttons .content-items .content-item[data-v-b8d3b7] {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
}

.content .buttons .content-items .content-item.classifyContent[data-v-b8d3b7] {
  align-items: center;
  display: flex;
}

.state[data-v-b8d3b7] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.progress-bar[data-v-b8d3b7] {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.progress-bar .percent-number[data-v-b8d3b7] {
  margin: 10px 0;
  font-size: 1.8em;
}

.progress-bar .percent-bar[data-v-b8d3b7] {
  width: 90%;
}

.countdiv[data-v-f6c77a] {
  align-items: center;
  height: 60px;
  font-size: 1.2em;
  display: flex;
}

.sub-content .buttons .md-button .md-ripple {
  padding: 0 !important;
}



.generation_container[data-v-44dddf] {
  padding: unset;
  width: 100%;
  height: 100%;
}

.generation_container .selection_content[data-v-44dddf] {
  flex-direction: column;
  width: 100%;
  min-height: 150px;
  display: flex;
}

.generation_container .selection_content .text[data-v-44dddf] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  display: flex;
}

.generation_container .attribute[data-v-44dddf] {
  padding: 0 10px;
}

.generation_container .selection_content .buttons[data-v-44dddf], .generation_container .launch_content[data-v-44dddf] {
  justify-content: center;
  align-items: center;
  display: flex;
}



.generation_container .steppers .md-field {
  min-height: unset;
}

.myContainer[data-v-2abcd3] {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.myContainer .header[data-v-2abcd3] {
  justify-content: flex-end;
  width: 100%;
  height: calc(10% - 10px);
  margin-bottom: 10px;
  display: flex;
}

.myContainer .mytable[data-v-2abcd3] {
  width: 80%;
  height: 90%;
  margin: 10px;
}

.exportBtn[data-v-2abcd3] {
  border: 1px solid #448aff;
  width: 150px;
}

/*# sourceMappingURL=spinal-env-viewer-plugin-network-tree.c660c5b0.css.map */
