.popoverContainer[data-v-688a23] {
  width: 350px;
  height: 300px;
}

.popoverContainer ._popoverContent[data-v-688a23] {
  height: 250px;
}

.popoverContainer ._popoverContent .colorPicker[data-v-688a23] {
  width: 100%;
  height: 100px;
}

.popoverContainer ._popoverBtn[data-v-688a23] {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  display: flex;
}

.popoverContainer ._popoverBtn .btn[data-v-688a23] {
  cursor: pointer;
  margin-right: 10px;
  font-size: 15px;
}

.myContainer[data-v-602521] {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.myContainer .myFabs[data-v-602521] {
  width: 50px;
  position: absolute;
  top: 0;
  right: 10px;
}

.myContainer .empty[data-v-602521] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.listeItemDraggable[data-v-602521] {
  color: #fff;
  border: 1px dashed gray;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.listeItemDraggable .left[data-v-602521] {
  flex: 80%;
  align-items: center;
  height: 100%;
  font-size: 1.5em;
  display: flex;
}

.listeItemDraggable .right[data-v-602521] {
  flex: 20%;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  display: flex;
}

.listeItemDraggable .left .name[data-v-602521] {
  margin-left: 10px;
}

.listeItemDraggable .left .color[data-v-602521] {
  width: 10px;
  height: 100%;
}

.mdDialog[data-v-1c0f97] {
  width: 500px;
  height: 550px;
}

.mdDialog .mdDialogTitle[data-v-1c0f97] {
  text-align: center;
}

.mdDialog .mdDialogContainer[data-v-1c0f97] {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mdDialog .mdDialogContainer .mdStep[data-v-1c0f97] {
  height: 350px;
  padding: 10px 0;
  overflow: hidden;
}

.mdDialog .mdDialogContainer .mdStep .contents[data-v-1c0f97] {
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}

.mdDialog .mdDialogContainer .mdStep .md-stepper-content.md-active {
  width: 100%;
  height: 100%;
}

.mdDialogContainer[data-v-583b39] {
  width: 300px;
  height: 450px;
}

.mdDialogContainer .dialogTitle[data-v-583b39] {
  text-align: center;
}

.subContent[data-v-905055] {
  width: 100%;
  height: 100%;
}

.subContent .title[data-v-905055] {
  border-bottom: 1px dashed gray;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  display: flex;
}

.subContent .container[data-v-905055] {
  width: 100%;
  height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 !important;
}

.subContent .container .list-item[data-v-905055] {
  border-bottom: 1px solid gray;
}

.subContent .container .list-item .md-list-item-text[data-v-905055] {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
}

.subContent .container .list-item.selected[data-v-905055] {
  background-color: #448aff;
}

.mdDialogContainer[data-v-5a6195] {
  width: 100%;
  height: 600px;
  z-index: 1000 !important;
  transform: translate(-50%, -50%)scale(1) !important;
}

.mdDialogContainer .dialogTitle[data-v-5a6195] {
  text-align: center;
}

.mdDialogContainer .content[data-v-5a6195] {
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.mdDialogContainer .content .section[data-v-5a6195] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  width: 30%;
  padding: 15px;
}

.mdDialogContainer .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.mdDialogContainer[data-v-efd16d] {
  width: 100%;
  height: 600px;
  z-index: 1000 !important;
  transform: translate(-50%, -50%)scale(1) !important;
}

.mdDialogContainer .dialogTitle[data-v-efd16d] {
  text-align: center;
}

.mdDialogContainer .content[data-v-efd16d] {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.mdDialogContainer .content .section[data-v-efd16d] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  flex: 1;
  padding: 15px;
}

.mdDialogContainer .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.mdDialogContainer[data-v-68b29d] {
  width: 100%;
  height: 600px;
  z-index: 1000 !important;
  transform: translate(-50%, -50%)scale(1) !important;
}

.mdDialogContainer .dialogTitle[data-v-68b29d] {
  text-align: center;
}

.mdDialogContainer .content[data-v-68b29d] {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.mdDialogContainer .content .section[data-v-68b29d] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  flex: 1;
  padding: 15px;
}

.mdDialogContainer .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.mdDialog[data-v-ba8e88] {
  z-index: 1000 !important;
  transform: translate(-50%, -50%)scale(1) !important;
}

.content[data-v-ba8e88] {
  width: 700px;
  max-height: 400px;
  overflow-y: auto;
}

.json-preview[data-v-ba8e88] {
  color: #fff;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #1e1e1e;
  border: 2px solid #3a3a3a;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  font-family: monospace;
}

.json-preview pre[data-v-ba8e88] {
  margin: 10px;
}

.trackingMethodBlock[data-v-80c813] {
  border: 2px dashed #fff;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
}

.mdDialog[data-v-8bd822] {
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  z-index: 1000 !important;
}

.md-dialog-content ul[data-v-8bd822] {
  padding-left: 20px;
  list-style-type: disc;
}

.md-dialog-content code[data-v-8bd822] {
  background-color: #e5e5e5;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 2px 4px;
  font-family: monospace;
}

.block[data-v-981cf0] {
  border: 2px dashed #fff;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
}

.help-icon[data-v-981cf0] {
  cursor: pointer;
  margin-left: 10px;
}

.block[data-v-b2d24f] {
  border: 2px dashed #fff;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
}

.mdDialog[data-v-7aa437] {
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 1000 !important;
}

.table[data-v-7aa437] {
  border: 1px dashed #ccc;
  margin-bottom: 20px;
}

.table md-table-row[data-v-7aa437] {
  border-bottom: 1px dashed #ccc;
}

.table-title[data-v-7aa437] {
  color: #333;
  margin-bottom: 10px;
  font-weight: 600;
}

.delete-button[data-v-7aa437] {
  color: #f44336;
}

.selected-label[data-v-7aa437] {
  margin-top: 10px;
  font-weight: 600;
}

.selected-content[data-v-7aa437] {
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
}

.dialog-actions[data-v-7aa437] {
  justify-content: right;
  margin-top: 20px;
  display: flex;
}

.action-button[data-v-7aa437] {
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color .3s;
}

.action-button[data-v-7aa437]:hover {
  background-color: #f5f5f5;
}

.disabled-row[data-v-7aa437] {
  color: #aaa;
  pointer-events: none;
  background-color: #f0f0f026;
}

.draggable-item[data-v-764bfa] {
  background-color: #484848;
  border-radius: 4px;
  margin: 0 5px;
  padding: 5px 10px;
  transition: background-color .3s;
  display: inline-block;
  box-shadow: 0 2px 4px #0000001a;
}

.draggable-item[data-v-764bfa]:hover {
  cursor: grab;
  background-color: #232323;
}

.draggable-item[data-v-764bfa]:active {
  cursor: grabbing;
  background-color: #572727;
}

.pretty-list-item[data-v-764bfa] {
  border-bottom: 1px solid #ccc !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
  display: flex !important;
}

md-button[data-v-764bfa] {
  margin-left: 20px;
}

.summary-item[data-v-95f69c] {
  padding: 8px 0;
  font-size: 16px;
  line-height: 1.5;
}

.summary-item strong[data-v-95f69c] {
  margin-right: 8px;
}

.mdDialog[data-v-b608a1] {
  width: 1200px;
  max-width: 1500px;
  height: 600px;
}

.mdDialog .mdDialogTitle[data-v-b608a1] {
  text-align: center;
}

.mdDialog .mdDialogContainer[data-v-b608a1] {
  width: 1200px;
  max-width: 1500px;
  height: 100%;
  overflow: auto;
}

.fixed-size-field[data-v-b608a1] {
  width: 85%;
  max-width: 85%;
}

.md-dialog-actions[data-v-b608a1] {
  margin: 0;
  padding: 8px 16px;
}

.md-button[data-v-b608a1] {
  margin: 0 8px;
}

.mdDialog .mdDialogContainer .mdStep[data-v-b608a1] {
  height: 350px;
  padding: 10px 0;
  overflow: auto;
}

.mdDialog .mdDialogContainer .mdStep .md-stepper-content.md-active {
  width: 100%;
  height: 100%;
}

.fixed-size-field {
  width: 85%;
  max-width: 85%;
}

.mdDialog .mdDialogContainer .mdStep .contents {
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mdDialog[data-v-2337b1] {
  width: 1200px;
  max-width: 1500px;
  height: 600px;
}

.mdDialog .mdDialogTitle[data-v-2337b1] {
  text-align: center;
}

.mdDialog .mdDialogContainer[data-v-2337b1] {
  width: 1200px;
  max-width: 1500px;
  height: 100%;
  overflow: auto;
}

.fixed-size-field[data-v-2337b1] {
  width: 85%;
  max-width: 85%;
}

.md-dialog-actions[data-v-2337b1] {
  margin: 0;
  padding: 8px 16px;
}

.md-button[data-v-2337b1] {
  margin: 0 8px;
}

.mdDialog .mdDialogContainer .mdStep[data-v-2337b1] {
  height: 350px;
  padding: 10px 0;
  overflow: auto;
}

.mdDialog .mdDialogContainer .mdStep .md-stepper-content.md-active {
  width: 100%;
  height: 100%;
}

.fixed-size-field {
  width: 85%;
  max-width: 85%;
}

.mdDialog .mdDialogContainer .mdStep .contents {
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mdContent[data-v-52813c] {
  width: 100%;
  height: calc(100% - 15px);
}

.header[data-v-52813c] {
  flex-direction: row-reverse;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
}

._container[data-v-52813c] {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
}

._container .listItem[data-v-52813c] {
  width: 98%;
  height: calc(100% - 10px);
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

._container .listItem .listcontent[data-v-52813c] {
  width: 95%;
  margin: auto;
}

.empty[data-v-52813c] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 50px);
  font-size: 20px;
  display: flex;
}

.listContainer[data-v-52813c] {
  border-bottom: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 60px;
  padding: 0 5px;
  font-size: 1.2em;
  display: flex;
}

.listContainer[data-v-52813c]:hover {
  cursor: pointer;
  background-color: gray;
}

.paginationContent[data-v-52813c] {
  width: 100%;
  height: 40px;
  margin: auto;
}

.listContainer .md-list-item-content {
  padding-left: 5px;
}

.listContainer .panel_link_button .md-ripple {
  padding: unset !important;
}

.buscar-caja {
  border-radius: 40px;
  height: 35px;
  margin-top: 5px;
}

.buscar-caja.isOpened {
  background: #2f3640;
}

.buscar-caja > .buscar-txt.isOpened {
  width: 240px;
  padding: 0 6px;
}

.buscar-btn {
  color: #fff;
  float: right;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 35px;
  transition: all .4s;
  display: flex;
}

.buscar-btn > i {
  font-size: 30px;
}

.buscar-txt {
  float: left;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  width: 0;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  transition: all .4s;
}

.vue-recycle-scroller {
  position: relative;
}

.vue-recycle-scroller.direction-vertical:not(.page-mode) {
  overflow-y: auto;
}

.vue-recycle-scroller.direction-horizontal:not(.page-mode) {
  overflow-x: auto;
}

.vue-recycle-scroller.direction-horizontal {
  display: flex;
}

.vue-recycle-scroller__slot {
  -webkit-box-flex: 1;
  -ms-flex: auto 0 0px;
  flex: none;
}

.vue-recycle-scroller__item-wrapper {
  box-sizing: border-box;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.vue-recycle-scroller.ready .vue-recycle-scroller__item-view {
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
}

.vue-recycle-scroller.direction-vertical .vue-recycle-scroller__item-wrapper {
  width: 100%;
}

.vue-recycle-scroller.direction-horizontal .vue-recycle-scroller__item-wrapper {
  height: 100%;
}

.vue-recycle-scroller.ready.direction-vertical .vue-recycle-scroller__item-view {
  width: 100%;
}

.vue-recycle-scroller.ready.direction-horizontal .vue-recycle-scroller__item-view {
  height: 100%;
}

.resize-observer[data-v-b329ee4c] {
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  background-color: #0000;
  border: none;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.resize-observer[data-v-b329ee4c] object {
  pointer-events: none;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/*# sourceMappingURL=spinal-env-viewer-plugin-analysis.1015c7c0.css.map */
