.popoverContainer[data-v-933c37] {
  width: 350px;
  height: 300px;
}

.popoverContainer ._popoverContent[data-v-933c37] {
  height: 250px;
}

.popoverContainer ._popoverContent .colorPicker[data-v-933c37] {
  width: 100%;
  height: 100px;
}

.popoverContainer ._popoverBtn[data-v-933c37] {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  display: flex;
}

.popoverContainer ._popoverBtn .btn[data-v-933c37] {
  cursor: pointer;
  margin-right: 10px;
  font-size: 15px;
}

.myContainer[data-v-a32f1e] {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.myContainer .myFabs[data-v-a32f1e] {
  width: 50px;
  position: absolute;
  top: 0;
  right: 10px;
}

.myContainer .empty[data-v-a32f1e] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.listeItemDraggable[data-v-a32f1e] {
  color: #fff;
  border: 1px dashed gray;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.listeItemDraggable .left[data-v-a32f1e] {
  flex: 80%;
  align-items: center;
  height: 100%;
  font-size: 1.5em;
  display: flex;
}

.listeItemDraggable .right[data-v-a32f1e] {
  flex: 20%;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  display: flex;
}

.listeItemDraggable .left .name[data-v-a32f1e] {
  margin-left: 10px;
}

.listeItemDraggable .left .color[data-v-a32f1e] {
  width: 10px;
  height: 100%;
}

.mdDialog[data-v-957e87] {
  width: 500px;
  height: 550px;
}

.mdDialog .mdDialogTitle[data-v-957e87] {
  text-align: center;
}

.mdDialog .mdDialogContainer[data-v-957e87] {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mdDialog .mdDialogContainer .mdStep[data-v-957e87] {
  height: 350px;
  padding: 10px 0;
  overflow: hidden;
}

.mdDialog .mdDialogContainer .mdStep .contents[data-v-957e87] {
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}

.mdDialogContainer[data-v-ad5af8] {
  width: 300px;
  height: 450px;
}

.mdDialogContainer .dialogTitle[data-v-ad5af8] {
  text-align: center;
}

.subContent[data-v-ebd028] {
  width: 100%;
  height: 100%;
}

.subContent .title[data-v-ebd028] {
  border-bottom: 1px dashed gray;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  display: flex;
}

.subContent .container[data-v-ebd028] {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden auto;
  padding: 0 !important;
}

.subContent .container .list-item[data-v-ebd028] {
  border-bottom: 1px solid gray;
}

.subContent .container .list-item .md-list-item-text[data-v-ebd028] {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
}

.subContent .container .list-item.selected[data-v-ebd028] {
  background-color: #448aff;
}

.mdDialogContainer[data-v-dfeaa0] {
  width: 100%;
  height: 600px;
  z-index: 1000 !important;
  transform: translate(-50%, -50%)scale(1) !important;
}

.mdDialogContainer .dialogTitle[data-v-dfeaa0] {
  text-align: center;
}

.mdDialogContainer .content[data-v-dfeaa0] {
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.mdDialogContainer .content .section[data-v-dfeaa0] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  width: 30%;
  padding: 15px;
}

.mdDialogContainer[data-v-ccfc6e] {
  width: 100%;
  height: 600px;
  z-index: 1000 !important;
  transform: translate(-50%, -50%)scale(1) !important;
}

.mdDialogContainer .dialogTitle[data-v-ccfc6e] {
  text-align: center;
}

.mdDialogContainer .content[data-v-ccfc6e] {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.mdDialogContainer .content .section[data-v-ccfc6e] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  flex: 1;
  padding: 15px;
}

.mdDialogContainer[data-v-f449b4] {
  width: 100%;
  height: 600px;
  z-index: 1000 !important;
  transform: translate(-50%, -50%)scale(1) !important;
}

.mdDialogContainer .dialogTitle[data-v-f449b4] {
  text-align: center;
}

.mdDialogContainer .content[data-v-f449b4] {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.mdDialogContainer .content .section[data-v-f449b4] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  flex: 1;
  padding: 15px;
}

.mdDialogContainer .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.mdDialog[data-v-f7d7b5] {
  z-index: 1000 !important;
  transform: translate(-50%, -50%)scale(1) !important;
}

.content[data-v-f7d7b5] {
  width: 700px;
  max-height: 400px;
  overflow-y: auto;
}

.json-preview[data-v-f7d7b5] {
  color: #fff;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #1e1e1e;
  border: 2px solid #3a3a3a;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  font-family: monospace;
}

.json-preview pre[data-v-f7d7b5] {
  margin: 10px;
}

.trackingMethodBlock[data-v-5216f6] {
  border: 2px dashed #fff;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
}

.mdDialog[data-v-5f639a] {
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  z-index: 1000 !important;
}

.md-dialog-content ul[data-v-5f639a] {
  padding-left: 20px;
  list-style-type: disc;
}

.md-dialog-content code[data-v-5f639a] {
  background-color: #e5e5e5;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 2px 4px;
  font-family: monospace;
}

.block[data-v-1cfae7] {
  border: 2px dashed #fff;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
}

.help-icon[data-v-1cfae7] {
  cursor: pointer;
  margin-left: 10px;
}

.block[data-v-cb7251] {
  border: 2px dashed #fff;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
}

.mdDialog[data-v-d62bee] {
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 1000 !important;
}

.table[data-v-d62bee] {
  border: 1px dashed #ccc;
  margin-bottom: 20px;
}

.table md-table-row[data-v-d62bee] {
  border-bottom: 1px dashed #ccc;
}

.table-title[data-v-d62bee] {
  color: #333;
  margin-bottom: 10px;
  font-weight: 600;
}

.delete-button[data-v-d62bee] {
  color: #f44336;
}

.selected-label[data-v-d62bee] {
  margin-top: 10px;
  font-weight: 600;
}

.selected-content[data-v-d62bee] {
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
}

.dialog-actions[data-v-d62bee] {
  justify-content: right;
  margin-top: 20px;
  display: flex;
}

.action-button[data-v-d62bee] {
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color .3s;
}

.action-button[data-v-d62bee]:hover {
  background-color: #f5f5f5;
}

.disabled-row[data-v-d62bee] {
  color: #aaa;
  pointer-events: none;
  background-color: #f0f0f026;
}

.draggable-item[data-v-f3ff78] {
  background-color: #484848;
  border-radius: 4px;
  margin: 0 5px;
  padding: 5px 10px;
  transition: background-color .3s;
  display: inline-block;
  box-shadow: 0 2px 4px #0000001a;
}

.draggable-item[data-v-f3ff78]:hover {
  cursor: grab;
  background-color: #232323;
}

.draggable-item[data-v-f3ff78]:active {
  cursor: grabbing;
  background-color: #572727;
}

.pretty-list-item[data-v-f3ff78] {
  border-bottom: 1px solid #ccc !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
  display: flex !important;
}

md-button[data-v-f3ff78] {
  margin-left: 20px;
}

.summary-item[data-v-92b48e] {
  padding: 8px 0;
  font-size: 16px;
  line-height: 1.5;
}

.summary-item strong[data-v-92b48e] {
  margin-right: 8px;
}

.mdDialog[data-v-7ef05d] {
  width: 1200px;
  max-width: 1500px;
  height: 600px;
}

.mdDialog .mdDialogTitle[data-v-7ef05d] {
  text-align: center;
}

.md-button[data-v-7ef05d] {
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color .3s;
}

.mdDialog .mdDialogContainer[data-v-7ef05d] {
  width: 1200px;
  max-width: 1500px;
  height: 100%;
  overflow: auto;
}

.fixed-size-field[data-v-7ef05d] {
  width: 85%;
  max-width: 85%;
}

.md-dialog-actions[data-v-7ef05d] {
  margin: 0;
  padding: 8px 16px;
}

.md-button[data-v-7ef05d] {
  margin: 0 8px;
}

.mdDialog .mdDialogContainer .mdStep[data-v-7ef05d] {
  height: 350px;
  padding: 10px 0;
  overflow: auto;
}

.mdDialog[data-v-f8c67f] {
  width: 1200px;
  max-width: 1500px;
  height: 600px;
}

.mdDialog .mdDialogTitle[data-v-f8c67f] {
  text-align: center;
}

.md-button[data-v-f8c67f] {
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color .3s;
}

.mdDialog .mdDialogContainer[data-v-f8c67f] {
  width: 1200px;
  max-width: 1500px;
  height: 100%;
  overflow: auto;
}

.fixed-size-field[data-v-f8c67f] {
  width: 85%;
  max-width: 85%;
}

.md-dialog-actions[data-v-f8c67f] {
  justify-content: space-between;
  margin: 0;
  padding: 8px 16px;
  display: flex;
}

.md-button[data-v-f8c67f] {
  margin: 0 8px;
}

.mdDialog .mdDialogContainer .mdStep[data-v-f8c67f] {
  height: 350px;
  padding: 10px 0;
  overflow: auto;
}

.mdDialog .mdDialogContainer .mdStep .md-stepper-content.md-active {
  width: 100%;
  height: 100%;
}

.fixed-size-field {
  width: 85%;
  max-width: 85%;
}

.mdDialog .mdDialogContainer .mdStep .contents {
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}
/*# sourceMappingURL=spinal-env-viewer-plugin-analysis.e933588b.css.map */
