.dialogContainer[data-v-4c8161] {
  overflow: hidden !important;
}

.myiconDiv[data-v-8bf9bc] {
  width: 500px;
  height: 100%;
}

.myiconDiv .header[data-v-8bf9bc] {
  width: 100%;
  height: 80px;
}

.myiconDiv ._container[data-v-8bf9bc] {
  flex-direction: column;
  width: 99%;
  height: calc(100% - 70px);
  margin-bottom: 10px;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.iconsContainer[data-v-8bf9bc] {
  flex-direction: column;
}

.subHeader[data-v-8bf9bc] {
  margin-bottom: 10px;
  display: block;
}

.icons[data-v-8bf9bc] {
  flex-wrap: wrap;
  margin-bottom: 10px;
  display: flex;
}

.icon[data-v-8bf9bc] {
  margin: 5px;
  padding: 3px;
}

.selectedIcon[data-v-8bf9bc] {
  border: 1px solid #00f;
}

.dialogContainer .iconComponent[data-v-dbad64] {
  margin-bottom: 15px;
}

.subContent[data-v-41b24f] {
  width: 100%;
  height: 100%;
}

.subContent .title[data-v-41b24f] {
  border-bottom: 1px dashed gray;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 0 15px;
  display: flex;
}

.subContent .container[data-v-41b24f] {
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 !important;
}

.subContent .container .list-item[data-v-41b24f] {
  border-bottom: 1px solid gray;
}

.subContent .container .list-item .md-list-item-text[data-v-41b24f] {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
}

.subContent .container .list-item.selected[data-v-41b24f] {
  background-color: #448aff;
}

.mdDialogContainer[data-v-1bc108] {
  width: 60%;
  height: 600px;
}

.mdDialogContainer .dialogTitle[data-v-1bc108] {
  text-align: center;
}

.mdDialogContainer .content[data-v-1bc108] {
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.mdDialogContainer .content .section[data-v-1bc108] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  width: 33%;
  padding: 15px;
}

.mdDialogContainer .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.mdDialogContainer[data-v-f6298b] {
  width: 400px;
  height: 300px;
}

.mdDialogContainer .dialogTitle[data-v-f6298b] {
  text-align: center;
}

.mdDialogContainer .content[data-v-f6298b] {
  justify-content: center;
  align-items: center;
  display: flex;
}

.mdDialogContainer .content .result[data-v-f6298b] {
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  display: flex;
  font-size: 1.4em !important;
}

.mdDialogContainer .content .result .success[data-v-f6298b] {
  color: green;
}

.mdDialogContainer .content .result .error[data-v-f6298b] {
  color: red;
}

.mdDialogContainer .content .section[data-v-f6298b] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  width: 33%;
  padding: 15px;
}

.mdContent[data-v-44b74a] {
  width: 100%;
  height: calc(100% - 15px);
}

.header[data-v-44b74a] {
  flex-direction: row-reverse;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
}

._container[data-v-44b74a] {
  width: 100%;
  height: calc(100% - 50px);
  overflow: hidden;
}

._container .listItem[data-v-44b74a] {
  width: 98%;
  height: calc(100% - 10px);
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

._container .listItem .listcontent[data-v-44b74a] {
  width: 95%;
  margin: auto;
}

.empty[data-v-44b74a] {
  text-align: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: auto;
  font-size: 20px;
  display: flex;
}

.listContainer[data-v-44b74a] {
  border-bottom: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 60px;
  padding: 0 5px;
  font-size: 1.2em;
  display: flex;
}

.listContainer[data-v-44b74a]:hover {
  cursor: pointer;
  background-color: gray;
}

.paginationContent[data-v-44b74a] {
  width: 100%;
  height: 40px;
  margin: auto;
}

.groupColor[data-v-44b74a] {
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
}

.spiner[data-v-44b74a] {
  position: absolute;
  top: calc(50% - 30px);
  right: calc(50% - 30px);
}

.listContainer .md-list-item-content {
  padding-left: 5px;
}

.listContainer .panel_link_button .md-ripple {
  padding: unset !important;
}

.buscar-caja {
  border-radius: 40px;
  height: 35px;
  margin-top: 5px;
}

.buscar-caja.isOpened {
  background: #2f3640;
}

.buscar-caja > .buscar-txt.isOpened {
  width: 240px;
  padding: 0 6px;
}

.buscar-btn {
  color: #fff;
  float: right;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 35px;
  transition: all .4s;
  display: flex;
}

.buscar-btn > i {
  font-size: 30px;
}

.buscar-txt {
  float: left;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  width: 0;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  transition: all .4s;
}

.vue-recycle-scroller {
  position: relative;
}

.vue-recycle-scroller.direction-vertical:not(.page-mode) {
  overflow-y: auto;
}

.vue-recycle-scroller.direction-horizontal:not(.page-mode) {
  overflow-x: auto;
}

.vue-recycle-scroller.direction-horizontal {
  display: flex;
}

.vue-recycle-scroller__slot {
  -webkit-box-flex: 1;
  -ms-flex: auto 0 0px;
  flex: none;
}

.vue-recycle-scroller__item-wrapper {
  box-sizing: border-box;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.vue-recycle-scroller.ready .vue-recycle-scroller__item-view {
  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
}

.vue-recycle-scroller.direction-vertical .vue-recycle-scroller__item-wrapper {
  width: 100%;
}

.vue-recycle-scroller.direction-horizontal .vue-recycle-scroller__item-wrapper {
  height: 100%;
}

.vue-recycle-scroller.ready.direction-vertical .vue-recycle-scroller__item-view {
  width: 100%;
}

.vue-recycle-scroller.ready.direction-horizontal .vue-recycle-scroller__item-view {
  height: 100%;
}

.resize-observer[data-v-b329ee4c] {
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  background-color: #0000;
  border: none;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.resize-observer[data-v-b329ee4c] object {
  pointer-events: none;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.dialog[data-v-1938f5] {
  width: 80%;
  height: 60%;
}

.dialog .title[data-v-1938f5] {
  text-align: center;
  font-size: 18px;
}

.dialog .table[data-v-1938f5] {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=spinal-env-viewer-room-manager.e15b269f.css.map */
