.test[data-v-e338ff] {
  padding-left: 10px;
  padding-right: 10px;
}

.md-dialog-title[data-v-e338ff] {
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.md-table-row[data-v-e338ff] {
  justify-content: center;
  align-items: center;
}

.buttonExport[data-v-e338ff] {
  background-color: green;
}

.buttonImportBOG[data-v-e338ff] {
  background-color: #1e90ff;
}

.tableaux[data-v-7257ce] {
  flex-direction: row;
  place-content: baseline space-evenly;
  display: flex;
}

.bloc-table[data-v-7257ce] {
  flex-direction: column;
  place-content: center start;
  display: flex;
}

.search[data-v-7257ce] {
  max-width: 100px;
}

.infos[data-v-7257ce] {
  justify-content: space-around;
  padding-left: 30%;
  padding-right: 35%;
  display: flex;
}

.infos-details[data-v-7257ce] {
  max-width: 35%;
}

.infos-details2[data-v-7257ce] {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.checkbox[data-v-7257ce] {
  padding-left: 8px;
}

.md-table-row[data-v-c63626] {
  justify-content: center;
  align-items: center;
}

.div-add-interval-time[data-v-c63626] {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.tableaux[data-v-a58993] {
  flex-direction: row;
  place-content: baseline space-evenly;
  display: flex;
}

.bloc-table[data-v-a58993] {
  flex-direction: column;
  place-content: center start;
  display: flex;
}

.search[data-v-a58993] {
  max-width: 100px;
}

.infos-details[data-v-a58993] {
  max-width: 35%;
}

.infos-details2[data-v-a58993] {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.checkbox[data-v-a58993] {
  padding-left: 8px;
}

.md-table-row[data-v-1ffe44] {
  justify-content: center;
  align-items: center;
}

.div-add-interval-time[data-v-1ffe44] {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.subContent[data-v-fa2645] {
  width: 100%;
  height: 100%;
}

.subContent .title[data-v-fa2645] {
  border-bottom: 1px dashed gray;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 0 15px;
  display: flex;
}

.subContent .container[data-v-fa2645] {
  width: 100%;
  height: 90%;
  overflow: hidden auto;
  padding: 0 !important;
}

.subContent .container .list-item[data-v-fa2645] {
  border-bottom: 1px solid gray;
}

.subContent .container .list-item .md-list-item-text[data-v-fa2645] {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
}

.subContent .container .list-item.selected[data-v-fa2645] {
  background-color: #448aff;
}

.selection_container[data-v-e7b848] {
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
}

.selection_container .section[data-v-e7b848] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  width: 33%;
  padding: 15px;
}

.selection_container .middle[data-v-e7b848] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  width: 49%;
  padding: 15px;
}

.mdDialogContainer[data-v-e9dcc9] {
  width: 60%;
  height: 600px;
}

.mdDialogContainer .dialogTitle[data-v-e9dcc9] {
  text-align: center;
}

.mdDialogContainer .content[data-v-e9dcc9] {
  padding: 0 10px 24px 24px;
}

.mdDialogContainer .content .state[data-v-e9dcc9] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.mdDialogContainer .content .progress-bar[data-v-e9dcc9] {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.mdDialogContainer .content .progress-bar .percent-number[data-v-e9dcc9] {
  margin: 10px 0;
  font-size: 1.8em;
}

.mdDialogContainer .content .progress-bar .percent-bar[data-v-e9dcc9] {
  width: 90%;
}

.mdDialogContainer .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.section[data-v-a74a11] {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 50%;
  height: 100%;
}

.section .header[data-v-a74a11] {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 40px;
  display: flex;
}

.section .header .title[data-v-a74a11] {
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 80px);
  padding: 10px;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
}

.section .header .actions[data-v-a74a11] {
  justify-content: end;
  align-items: center;
  width: 80px;
  display: flex;
}

.section .listContent[data-v-a74a11] {
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden auto;
}

dialogContainer[data-v-528881] {
  width: 800px;
  height: 600px;
}

.dialogTitle[data-v-528881] {
  justify-content: center;
  align-items: center;
  height: 50px;
  display: flex;
}

.mdDialogContent[data-v-528881] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.mdDialogContent .content[data-v-528881] {
  gap: 10px;
  width: 100%;
  height: 100%;
  display: flex;
}
/*# sourceMappingURL=spinal-env-viewer-plugin-device_profile.4b8d00ed.css.map */
