.loading[data-v-b23bde] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  display: flex;
}

.content[data-v-b23bde] {
  width: 100%;
  height: 400px;
}

.content .header[data-v-b23bde] {
  width: 100%;
  height: 50px;
  margin: 15px 0;
  display: flex;
}

.content .networks_container[data-v-b23bde] {
  width: 100%;
  height: 340px;
  padding: 5px 0;
  overflow: hidden auto;
}

.content .networks_container .network_list[data-v-b23bde] {
  align-items: center;
  width: 100%;
  height: 50px;
  display: flex;
}

.content .networks_container .network_list .name[data-v-b23bde], .content .networks_container .network_list .address[data-v-b23bde], .content .networks_container .network_list .uploadMib[data-v-b23bde] {
  width: calc(33% - 20px);
  margin: 3px;
}

.content .networks_container .network_list .action[data-v-b23bde] {
  width: 50px;
}

.md-field.md-has-file .md-input {
  text-overflow: ellipsis;
  width: 20px;
}

.error_content[data-v-cd78d1] {
  align-items: center;
  display: flex;
}

.progress_info[data-v-cd78d1] {
  margin: 10px;
  width: 100% !important;
}

._panel_container {
  width: 100%;
  height: 100%;
}

._panel_container .stepper_container {
  width: 100%;
  height: calc(100% - 60px);
  background: none !important;
}

._panel_container .stepper_container .form {
  width: 90%;
}

._panel_container .stepper_container .form .md-field {
  min-height: unset !important;
}

._panel_container .stepper_container .initial_state {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

._panel_container .stepper_container .discovering_state {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

._panel_container .stepper_container .discovered_state .control_wrapper {
  height: 350px;
  overflow-y: auto;
}

._panel_container .stepper_container .md-steppers-wrapper, ._panel_container .stepper_container .md-steppers-wrapper .md-steppers-container {
  width: 100%;
  height: 100%;
}

._panel_container .stepper_container .md-steppers-wrapper .md-steppers-container .md-stepper-content.md-active {
  width: calc(100% - 60px);
  min-height: 390px;
}

._panel_container .md-stepper-content {
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}

._panel_container[data-v-22db5a] {
  width: 100%;
  height: calc(100% - 15px);
}

._panel_container .header[data-v-22db5a] {
  border: 1px solid gray;
  width: 99%;
  height: 50px;
  margin: auto;
}

._panel_container .listDiv[data-v-22db5a] {
  background: none;
  width: 100%;
  height: calc(100% - 50px);
}

._panel_container .listDiv .subtypes[data-v-22db5a] {
  font-size: .8em;
  font-weight: bold;
}

._panel_container .listDiv .Monitored[data-v-22db5a] {
  color: green !important;
}

._panel_container .listDiv .Stopped[data-v-22db5a] {
  color: red !important;
}

._panel_container .header[data-v-22db5a] {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

._panel_container * {
  box-sizing: border-box !important;
}

._panel_container .md-list-action {
  display: contents;
}

.generateContainer[data-v-6f974a] {
  width: 300px;
  height: 260px;
}

.generateContainer .title[data-v-6f974a] {
  text-align: center;
}

.generateContainer .dialog_content[data-v-6f974a] {
  justify-content: center;
  align-items: center;
  display: flex;
}

.linkContainer {
  width: 600px;
  height: 600px;
}

.linkContainer .title {
  text-align: center;
}

.linkContainer .loadedContent {
  border: 1px solid gray;
  border-radius: 15px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
}

.linkContainer .loadedContent .selected {
  background: #00f;
}

.linkContainer .loading {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.tableToolbar[data-v-4ad07d] {
  flex-direction: column;
  display: flex;
}

.firstBar[data-v-4ad07d] {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.secondBar[data-v-4ad07d] {
  justify-content: flex-end;
  width: 100%;
  display: flex;
}

.toolbarMdfield[data-v-4ad07d] {
  width: calc(50% - 20px);
}

.myTable .md-table-row th:last-child, .myTable .md-table-row td:last-child {
  text-align: center;
}

.configContainer[data-v-4c4f61] {
  width: 100%;
  height: 100%;
}

.configContainer .title[data-v-4c4f61] {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.configContainer .dialogContent[data-v-4c4f61] {
  width: 100%;
  height: 100%;
}

.configContainer .loading[data-v-4c4f61] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}
/*# sourceMappingURL=spinal-env-viewer-plugin-snmp-manager.1fedccd3.css.map */
