













.node-header[data-v-f72aad] {
  width: 100%;
  height: 36px;
  padding: 9px 6px 6px 13px;
  position: relative;
}

.node-header[data-v-f72aad]:hover {
  cursor: pointer;
  background-color: #0000004d;
}

.node-list-icon[data-v-f72aad] {
  -webkit-user-select: none;
  user-select: none;
  width: 21px;
  position: absolute;
  top: 7px;
  left: 0;
}

.node-name[data-v-f72aad] {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 77px);
  position: absolute;
  left: 26px;
  overflow: hidden;
}

.node-color[data-v-f72aad] {
  position: absolute;
  right: 0;
}

.node-item[data-v-033f1f] {
  width: 100%;
  padding-left: 18px;
}

.active[data-v-033f1f] {
  background-color: #365bab !important;
}

.context[data-v-033f1f] {
  background-color: #2e2e2e80;
}



.arrow-disable[data-v-8f77af] {
  color: #7e7e7e;
  background: unset !important;
  cursor: alias !important;
}

.node-inspector-name[data-v-8f77af] {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
  font-size: 28px;
  overflow: hidden;
}

.node-inspector-children[data-v-8f77af] {
  max-height: 40vh;
  overflow-y: auto;
}

.node-inspector-btn-icon[data-v-8f77af] {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.node-inspector-btn-icon[data-v-8f77af]:hover {
  background: #7e7e7e;
  border-radius: 50%;
}

.node-inspector-children[data-v-8f77af]::-webkit-scrollbar {
  background-color: #121212;
  width: 4px;
  -webkit-box-shadow: inset 0 0 6px #0000004d;
}

.node-inspector-children[data-v-8f77af]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0000004d;
}

.node-inspector-children[data-v-8f77af]::-webkit-scrollbar-thumb {
  background-color: #737374;
  outline: 1px solid #708090;
}

.node-inspector-child[data-v-8f77af] {
  border: 1px solid #979797;
  width: 100%;
  height: 30px;
  padding: 4px;
  display: flex;
  position: relative;
}

.node-inspector-child-name[data-v-8f77af] {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 4%;
  overflow: hidden;
}

.node-inspector-child-delete-buttons[data-v-8f77af] {
  display: flex;
  position: absolute;
  right: 4%;
}

.node-inspector[data-v-8f77af] {
  max-height: 70vh;
}

.tool-bar[data-v-84c4ba] {
  min-width: 30px;
  min-height: 30px;
}

.sideBar[data-v-ddae93] {
  width: 50px;
}

.top-bar[data-v-883feb] {
  min-height: 30px;
}

.spinal-icon-selector {
  grid-template-columns: auto auto auto;
  display: grid;
}

.spinal-icon-selector-item {
  text-align: center;
}

.md-menu-content {
  z-index: 10;
}

.item-header[data-v-58725e] {
  display: flex;
}

.list-item-child[data-v-58725e] {
  padding-left: 18px;
}

.active[data-v-58725e] {
  color: #365bab;
}



.plugin-graph-viewer {
  width: 260px;
  overflow: hidden;
}

.plugin-graph-viewer * {
  box-sizing: border-box;
  margin: 0;
}

.graph-viewer {
  border-right: 1px solid #808080a3;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.graph-manager-top-bar {
  background-color: #343434d9;
  border-bottom: 1px solid #808080a3;
  display: flex;
}

.graph-manager-side-bar {
  background-color: #343434d9;
  border-bottom: 1px solid #808080a3;
  overflow-x: hidden;
  overflow-y: auto;
}

.graph-manager-side-bar::-webkit-scrollbar {
  background-color: #121212;
  width: 2px;
  -webkit-box-shadow: inset 0 0 6px #0000004d;
}

.graph-manager-side-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0000004d;
}

.graph-manager-side-bar::-webkit-scrollbar-thumb {
  background-color: #737374;
  outline: 1px solid #708090;
}

.graph-viewer::-webkit-scrollbar {
  background-color: #121212;
  width: 4px;
  -webkit-box-shadow: inset 0 0 6px #0000004d;
}

.graph-viewer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0000004d;
}

.graph-viewer::-webkit-scrollbar-thumb {
  background-color: #737374;
  outline: 1px solid #708090;
}

.plugin-graph-viewer-refresh {
  float: right;
  font-size: 2%;
}

.graph-manager-top-tools-bar {
  float: left;
  width: 98%;
  display: flex;
  overflow: auto;
}

.graph-manager-top-tools-bar::-webkit-scrollbar {
  background-color: #121212;
  height: 5px;
  -webkit-box-shadow: inset 0 0 6px #0000004d;
}

.graph-manager-top-tools-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0000004d;
}

.graph-manager-top-tools-bar::-webkit-scrollbar-thumb {
  background-color: #737374;
  outline: 1px solid #708090;
}

.graph-manager-body {
  width: 100%;
  height: calc(100% - 41px);
  display: flex;
}

/*# sourceMappingURL=spinal-env-viewer-plugin-graph-manager.8a5bc64a.css.map */
