.discover_container[data-v-200797] {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.discover_container .loading[data-v-200797] {
  text-align: center;
}

.discover_container .devices_table[data-v-200797] {
  width: 98%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.discover_container .devices_table .header[data-v-200797] {
  border: 1px dashed gray;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 50px;
  font-size: 1.4em;
  display: flex;
}

.discover_container .devices_table .tablecontent[data-v-200797] {
  width: 100%;
  height: calc(100% - 50px);
}

.configureMonitoring .md-button .md-ripple {
  padding: 0;
}

.broadcast_container[data-v-33e255] {
  width: 100%;
  height: 100%;
}

.broadcast_container .contextInput[data-v-33e255] {
  min-height: unset;
}

.input_container[data-v-36c975] {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.input_container .input[data-v-36c975] {
  width: 40%;
}

.input_container .remove[data-v-36c975] {
  width: 10%;
}

.input_container .input .contextInput[data-v-36c975] {
  min-height: unset;
}

.unicast_container[data-v-51f223] {
  width: 100%;
  height: 100%;
  margin: auto;
}

.unicast_container .header[data-v-51f223] {
  justify-content: space-between;
  align-items: center;
  width: 99%;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
}

.unicast_container .header .button_div[data-v-51f223] {
  text-transform: capitalize;
  border: 1px solid gray;
  border-radius: 10px;
  flex: 0 32%;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.unicast_container .header .button_div.resetRow[data-v-51f223] {
  color: #ff5252;
  border: 1px solid #ff5252;
}

.unicast_container .header .button_div.addRow[data-v-51f223] {
  color: #448aff;
  border: 1px solid #448aff;
}

.unicast_container .header .button_div.upload_div[data-v-51f223] {
  border: 1px dashed gray;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.unicast_container .header .button_div[data-v-51f223]:hover {
  cursor: pointer;
}

.unicast_container .content[data-v-51f223] {
  width: 100%;
  height: calc(100% - 100px);
  overflow-x: hidden;
  overflow-y: auto;
}

.unicast_container .contextInput[data-v-51f223] {
  min-height: unset;
}

.unicast_container .content .md-button .md-ripple {
  padding: unset;
}

.discover_container[data-v-a71540] {
  width: 100%;
  height: calc(100% - 15px);
}

.discover_container .stepContainer[data-v-a71540] {
  width: 100%;
  height: 350px;
}

.discover_container .loading[data-v-a71540] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.discover_container .header[data-v-a71540] {
  justify-content: space-between;
  width: 100%;
  height: 50px;
  display: flex;
}

.discover_container .header .radio[data-v-a71540] {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  display: flex;
}

.discover_container .header .radio.isActive[data-v-a71540] {
  color: #448aff;
  border-bottom: 2px solid #448aff;
}

.discover_container .content[data-v-a71540] {
  width: 100%;
  height: calc(100% - 50px);
  margin-top: 10px;
}

.discover_container .md-steppers.md-theme-default, .discover_container .md-steppers.md-theme-default .md-steppers-wrapper, .discover_container .md-steppers.md-theme-default .md-steppers-wrapper .md-steppers-container {
  height: 100%;
}

.discover_container .md-steppers.md-theme-default .md-steppers-wrapper .md-steppers-container .md-stepper-content.md-active {
  min-height: 250px;
  max-height: 350px;
}

.device[data-v-56a517] {
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 50px;
  margin: auto;
  display: flex;
}

.device .name[data-v-56a517], .device .state[data-v-56a517] {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 25%;
  overflow: hidden;
}

.device .state[data-v-56a517] {
  text-align: center;
}

.device .state.Running[data-v-56a517] {
  color: #7fff00;
}

.device .state.Stopped[data-v-56a517] {
  color: #ff5252;
}

.device .actions[data-v-56a517] {
  justify-content: space-between;
  align-items: center;
  width: 50%;
  display: flex;
}

.manage_panel_container[data-v-93b9f6] {
  width: 100%;
  height: calc(100% - 15px);
  overflow: hidden;
}

.manage_panel_container .manage_container[data-v-93b9f6] {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.manage_panel_container .manage_container .header[data-v-93b9f6] {
  border-bottom: 1px solid gray;
  width: 100%;
  height: 50px;
}

.manage_panel_container .manage_container .header > div[data-v-93b9f6] {
  float: right;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.manage_panel_container .manage_container .devices_list[data-v-93b9f6] {
  width: 100%;
  height: calc(100% - 60px);
  overflow: auto;
}

.manage_panel_container .state[data-v-93b9f6] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.manage_panel_container .manage_container .md-button .md-ripple {
  padding: unset;
}

.connector_monitor_container[data-v-6ffe52] {
  width: 100%;
  height: calc(100% - 15px);
  overflow: auto;
}

.connector_monitor_container .organ_section[data-v-6ffe52] {
  align-items: center;
  width: calc(100% - 10px);
  height: 50px;
  padding: 5px;
  display: flex;
}

.connector_monitor_container .organ_section .name[data-v-6ffe52] {
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 0 0 70%;
  font-size: 1.5em;
  overflow: hidden;
}

.connector_monitor_container .organ_section .actions[data-v-6ffe52] {
  flex: 0 0 30%;
  justify-content: flex-end;
  display: flex;
}



.selectOrganDialog[data-v-34706f] {
  width: 700px;
  height: 500px;
}

.selectOrganDialog .title[data-v-34706f] {
  text-align: center;
}

.subContent[data-v-3f2e9e] {
  width: 100%;
  height: 100%;
}

.subContent .title[data-v-3f2e9e] {
  border-bottom: 1px dashed gray;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 0 15px;
  display: flex;
}

.subContent .container[data-v-3f2e9e] {
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 !important;
}

.subContent .container .list-item[data-v-3f2e9e] {
  border-bottom: 1px solid gray;
}

.subContent .container .list-item .md-list-item-text[data-v-3f2e9e] {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
}

.subContent .container .list-item.selected[data-v-3f2e9e] {
  background-color: #448aff;
}

.selection_container[data-v-4d965b] {
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
}

.selection_container .section[data-v-4d965b] {
  border: 1px solid gray;
  border-radius: 4% 4% 0 0;
  width: 33%;
  padding: 15px;
}

.mdDialogContainer[data-v-1f48c5] {
  width: 60%;
  height: 600px;
}

.mdDialogContainer .dialogTitle[data-v-1f48c5] {
  text-align: center;
}

.mdDialogContainer .content[data-v-1f48c5] {
  padding: 0 10px 24px 24px;
}

.mdDialogContainer .content .loading[data-v-1f48c5] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.mdDialogContainer .content .results[data-v-1f48c5] {
  width: 100%;
  height: 100%;
}

.mdDialogContainer .content .results .result-component[data-v-1f48c5] {
  border: 1px solid gray;
  width: 100%;
  height: 70px;
  margin: 5px 0;
}

.mdDialogContainer .content .progress-bar[data-v-1f48c5] {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.mdDialogContainer .content .progress-bar .percent-number[data-v-1f48c5] {
  margin-bottom: 10px;
  font-size: 1.8em;
}

.mdDialogContainer .content .progress-bar .percent-bar[data-v-1f48c5] {
  width: 90%;
}

.mdDialogContainer .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.mdDialogContainer[data-v-06c728] {
  width: 400px;
  height: 300px;
}

.mdDialogContainer .dialogTitle[data-v-06c728] {
  text-align: center;
}

.mdDialogContainer .content[data-v-06c728] {
  padding: 0 10px 24px 24px;
}

.mdDialogContainer .content .loading[data-v-06c728] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.mdDialogContainer .content .results[data-v-06c728] {
  width: 100%;
  height: 100%;
}

.mdDialogContainer .content .results .result-component[data-v-06c728] {
  border: 1px solid gray;
  width: 100%;
  height: 70px;
  margin: 5px 0;
}

.mdDialogContainer .content .progress-bar[data-v-06c728] {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.mdDialogContainer .content .progress-bar .percent-number[data-v-06c728] {
  margin-bottom: 10px;
  font-size: 1.8em;
}

.mdDialogContainer .content .progress-bar .percent-bar[data-v-06c728] {
  width: 90%;
}

.mdDialogContainer .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.mdDialogContainer .md-dialog-container {
  max-width: 100%;
  max-height: 100%;
}

.mdDialogContainer[data-v-f16541] {
  width: 750px;
  height: 500px;
}

.mdDialogContainer .dialogTitle[data-v-f16541] {
  text-align: center;
}

.mdDialogContainer .content[data-v-f16541] {
  padding: 0 10px 24px 24px;
}

.mdDialogContainer .content .devicesProgress[data-v-f16541] {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.mdDialogContainer .content .devicesProgress .device[data-v-f16541] {
  border-top: 1px solid gray;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  min-height: 50px;
  padding: 0 5px;
  display: flex;
}

.mdDialogContainer .content .devicesProgress .device .name[data-v-f16541] {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
  font-size: 1.2em;
  overflow: hidden;
}

.mdDialogContainer .content .devicesProgress .device .progress-bar[data-v-f16541] {
  justify-content: space-between;
  align-items: center;
  width: 30%;
  display: flex;
}

.mdDialogContainer .content .devicesProgress .device .progress-bar .message[data-v-f16541] {
  text-align: center;
}

.mdDialogContainer .content .devicesProgress .device .progress-bar .message.waiting[data-v-f16541] {
  color: gray;
}

.mdDialogContainer .content .devicesProgress .device .progress-bar .message.success[data-v-f16541] {
  color: green;
}

.mdDialogContainer .content .devicesProgress .device .progress-bar .message.error[data-v-f16541] {
  color: #ff5252;
}

.mdDialogContainer .content .devicesProgress .device .progress-bar .progress-number[data-v-f16541] {
  text-align: center;
  width: 25%;
}

.mdDialogContainer .content .devicesProgress .device .progress-bar .progress-value[data-v-f16541] {
  width: 75%;
}

.mdDialogContainer .content .itemList[data-v-f16541] {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  display: flex;
}

.mdDialogContainer .content .itemList .itemList-item[data-v-f16541] {
  align-items: center;
  width: 33%;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
}

.mdDialogContainer .content .state[data-v-f16541] {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.mdDialogContainer .content .results[data-v-f16541] {
  width: 100%;
  height: 100%;
}

.mdDialogContainer .content .results .result-component[data-v-f16541] {
  border: 1px solid gray;
  width: 100%;
  height: 70px;
  margin: 5px 0;
}

/*# sourceMappingURL=spinal-env-viewer-plugin-bacnet-manager.1aaead56.css.map */
