li.clearfix[data-v-3b243c] {
  padding-bottom: 20px;
  list-style: none;
}

[data-v-3b243c], [data-v-3b243c]:before, [data-v-3b243c]:after {
  box-sizing: border-box;
}

.message-data[data-v-3b243c] {
  margin-bottom: 15px;
}

.message-data-time[data-v-3b243c] {
  color: #a8aab1;
  padding-left: 6px;
}

.message-data-name[data-v-3b243c] {
  color: #fff;
  text-transform: capitalize;
}

.message_actions[data-v-3b243c] {
  background-color: #424242;
  border-radius: 7px 7px 0 0;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.message[data-v-3b243c] {
  color: #000;
  border-radius: 7px;
  width: 100%;
  min-height: 30px;
  margin-bottom: 40px;
  padding: 10px 10px 5px;
  font-size: 16px;
  line-height: 26px;
  position: relative;
}

.message[data-v-3b243c]:after {
  content: " ";
  pointer-events: none;
  border: 10px solid #0000;
  border-bottom-color: #86bb71;
  width: 0;
  height: 0;
  margin-left: -10px;
  position: absolute;
  bottom: 100%;
  left: 7%;
}

.message[data-v-3b243c]:hover {
  cursor: pointer;
}

.my-message[data-v-3b243c] {
  background: #86bb71;
}

.other-message[data-v-3b243c] {
  background: #fff;
}

.other-message[data-v-3b243c]:after {
  border-bottom-color: #fff;
  left: 93%;
}

.me[data-v-3b243c] {
  color: #fff;
  margin-right: 3px;
  font-size: 10px;
}

.align-left[data-v-3b243c] {
  text-align: left;
}

.align-right[data-v-3b243c] {
  text-align: right;
}

.float-right[data-v-3b243c] {
  float: right;
}

.clearfix[data-v-3b243c]:after {
  visibility: hidden;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
  display: block;
}

li.clearfix .description.md-icon.md-theme-default.md-icon-font {
  color: #000 !important;
}

.content[data-v-fe87d9] {
  justify-content: space-between;
  width: 95%;
  margin: auto;
  font-weight: bold;
  display: flex;
}

.content .name[data-v-fe87d9] {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 35px);
  display: block;
  overflow: hidden;
}

.content .delete[data-v-fe87d9] {
  text-align: center;
  color: red;
  width: 30px;
}

.content .delete[data-v-fe87d9]:hover {
  cursor: pointer;
}

.notesContainer[data-v-f2b900] {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
}

.notesContainer .messages[data-v-f2b900] {
  background: none;
  width: 100%;
  height: calc(70% - 10px);
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.div_messages[data-v-f2b900] {
  width: 90%;
  height: 100%;
  margin: auto;
}

.notesContainer .form[data-v-f2b900] {
  width: 100%;
  height: 30%;
}

.notesContainer .form .noteForm[data-v-f2b900] {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
}

.notesContainer .form .noteForm .sendBtn[data-v-f2b900], .notesContainer .form .noteForm .icons[data-v-f2b900] {
  justify-content: center;
  align-items: flex-end;
  width: 10%;
  height: 100%;
  display: flex;
}

.notesContainer .form .noteForm .messageForm[data-v-f2b900] {
  flex-direction: column;
  justify-content: flex-end;
  width: calc(80% - 20px);
  height: calc(100% - 15px);
  display: flex;
}

.notesContainer .form .noteForm .messageForm .pjDiv[data-v-f2b900] {
  background: none;
  border: 1px dashed gray;
  height: calc(100% - 40px);
  overflow: auto;
}

.notesContainer .form .noteForm .messageForm .pjDiv p[data-v-f2b900] {
  margin: 0;
}

.notesContainer .form .noteForm .messageForm .messageField[data-v-f2b900] {
  align-items: flex-end;
  width: 100%;
  height: 40px;
  display: flex;
}

.notesContainer .form .noteForm .messageForm .messageField .myField[data-v-f2b900] {
  min-height: unset !important;
  margin: 0 !important;
}

.notesContainer .form .noteForm .sendBtn .md-button .md-ripple {
  padding: 0;
}

.notesBox[data-v-48bef6] {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 15px);
  display: flex;
  overflow: hidden;
}

.notesBox .mdToolbar[data-v-48bef6] {
  padding: 0 !important;
}

.notesBox .mdToolbar .breadCrumb[data-v-48bef6] {
  height: 50px;
  display: flex;
}

.notesBox .notes_div[data-v-48bef6] {
  width: 100%;
  height: calc(100% - 50px);
}



.urlDialogContainer[data-v-1d7a8b] {
  width: 300px;
  height: 200px;
}

.tableDiv[data-v-09f387] {
  width: 100%;
  height: 100%;
}

.tableDiv .path[data-v-09f387] {
  align-items: center;
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  display: flex;
}

.tableDiv .table[data-v-09f387] {
  width: 100%;
  height: calc(100% - 50px);
}



.fileUploadDialog[data-v-e43dd7] {
  width: 700px;
  height: 520px;
}

.fileUploadDialog .dialogContent[data-v-e43dd7], .fileUploadDialog .dialogTabs[data-v-e43dd7] {
  width: 100%;
  height: 100%;
}

.fileUploadDialog .md-dialog-container {
  width: 100%;
  height: 100%;
}

.fileUploadDialog .dialogTabs .md-tabs-content, .fileUploadDialog .dialogTabs .md-tabs-content .md-tabs-container, .fileUploadDialog .dialogTabs .md-tabs-content .md-tabs-container .md-tab {
  width: 100%;
  height: 100% !important;
}





.container-link i.md-icon.md-icon-font.md-icon-image.md-list-expand-icon.md-theme-default {
  margin: unset;
  position: absolute;
}

.nameOfCategory {
  position: absolute;
  left: 26px;
}

.unsetPadding {
  padding: unset;
}

.widthOfList {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
}

.buttonRight {
  position: absolute;
  right: 0%;
}

.titleOfSharedLocal {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.spinal-dialog-add-attr {
  width: 560px;
  height: 500px;
}

.spinal-dialog-add-attr > .md-dialog-container {
  max-width: 100%;
}

.spinal-dialog-add-attr .attributeDialogContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.attributeDialogContent .dialogTabs, .attributeDialogContent .dialogTabs .md-tabs-content, .attributeDialogContent .dialogTabs .md-tabs-content .md-tabs-container {
  width: 100%;
  height: 100% !important;
}

.spinal-dialog-add-attr .attributeDialogContent .dialogTabs .md-tabs-content .md-tabs-container .md-tab {
  width: 100%;
  overflow: auto;
  height: 100% !important;
}

.headerCDE {
  box-sizing: border-box;
  margin: unset;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  min-height: 5%;
  margin-left: unset !important;
}

.toolbarButton {
  text-align: center;
  box-sizing: border-box;
  padding: unset;
  width: 30%;
}

.centerSelectedNodeName {
  text-align: center;
  margin-top: 8px;
}

.containerCDE {
  height: 100%;
}

.containerCDE .md-ripple {
  padding: unset;
}

.containerCDE .md-content.md-theme-default, .containerCDE ul.md-list.md-theme-default {
  background-color: unset;
}

.containerCDE button.md-button.md-layout-item.toolbarButton.md-theme-default {
  margin-left: 7px;
  margin-right: unset;
}

.centerSelectedNodeName {
  margin-left: auto;
  margin-right: auto;
  margin-top: unset;
  margin-bottom: unset;
}

.filesPaddingPath {
  height: auto;
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
}

.filesPaddingIcon {
  height: auto;
  display: flex;
}

.sizeOfPathTab {
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.filesBox {
  box-sizing: border-box;
  height: calc(100% - 50px);
  background: none !important;
}

.notesBox {
  box-sizing: border-box;
  height: 100%;
  background: none !important;
}

.container-link * {
  box-sizing: border-box;
}

.container-link .md-table-cell-container {
  white-space: nowrap;
  white-space: initial;
  overflow: hidden;
}

.container-link .md-ripple.md-list-item-content {
  box-sizing: border-box;
  border-bottom: 1px solid #212121;
  height: 25px;
  min-height: 20px;
  font-size: 14px;
}

.container-link td.md-table-cell {
  height: unset;
}

.size-md-cell {
  padding-right: unset;
  padding-left: unset;
  max-width: 280px;
}

.myRowStyle {
  padding-left: 20px;
  padding-right: 15px;
}

.myRowStyleURLShared {
  padding-top: 5px;
}

.back-line {
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: calc(100% - 25px);
  display: -webkit-box;
  overflow: hidden;
}

.alignToIconFile {
  background: #212121;
}

.span-opacity {
  color: #fff;
  width: 100%;
}

.addURLButtonPanel {
  box-sizing: border-box;
  float: right;
  margin-top: auto;
  margin-bottom: auto;
}

.attributesButtonPanel {
  box-sizing: border-box;
  border: 1px solid #356bab;
  width: calc(50% - 16px);
}

.urlBox {
  box-sizing: border-box;
  height: calc(100% - 90px);
}

.size-md-cell {
  padding-right: unset;
  padding-left: unset;
}

.heightTabsCreateAttr {
  height: 30vh;
}

.my-test-panel-container * {
  box-sizing: border-box;
}

.my-test-panel-container-nbr-output {
  text-align: center;
}

.hr-sect {
  color: #cccccc15;
  flex-basis: 100%;
  align-items: center;
  margin: 8px 0;
  font-size: 12px;
  display: flex;
}

.hr-sect:before, .hr-sect:after {
  content: "";
  background: #cccccc59;
  flex-grow: 1;
  height: 1px;
  margin: 0 16px;
  font-size: 0;
  line-height: 0;
}

.sharedCategoryCss {
  align-items: center;
  overflow: hidden;
}

.sharedCategoryCss:after {
  content: "";
  vertical-align: center;
  border-top: 2px dotted;
  width: 100%;
  height: 2px;
  margin-left: 11px;
  margin-right: -100%;
  display: inline-block;
}

.urlBox .md-subheader {
  padding: unset;
}

.colorForCategory > .md-list-item-container > .md-list-item-content {
  background-color: #ccc3;
}

.changeTabDocumentation-enter-active {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.changeTabDocumentation-enter {
  opacity: 0;
  min-width: unset;
  transform: translateX(-1em);
}

.changeTabDocumentation-enter-to {
  opacity: 1;
  min-width: unset;
  transform: translateX(0);
}

.iconPlusDocumentation {
  color: #356bab;
}

.unsetBackgroundContent {
  box-sizing: border-box;
  height: calc(100% - 50px);
  background: none !important;
}

.unsetBackgroundContent ul.md-list.md-theme-default {
  background-color: unset;
}

.unsetBackgroundContent .md-field.md-theme-default.md-inline {
  margin: unset;
}

.unsetBackgroundContent {
  box-sizing: border-box;
  height: calc(100% - 50px);
  background: none !important;
}

.unsetBackgroundContent ul.md-list.md-theme-default {
  background-color: unset;
}

.unsetBackgroundContent .md-field.md-theme-default.md-inline {
  margin: unset;
}

.unsetBackgroundContent {
  box-sizing: border-box;
  height: calc(100% - 50px);
  background: none !important;
}

.unsetBackgroundContent ul.md-list.md-theme-default {
  background-color: unset;
}

.unsetBackgroundContent .md-field.md-theme-default.md-inline {
  margin: unset;
}

/*# sourceMappingURL=spinal-env-viewer-plugin-documentation.117365b5.css.map */
